*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --title-font: "Dela Gothic One", sans-serif;
    --text-font: "Comme", sans-serif;

    --up-color:  #d89f0cdc;
    --title-color:  #ffffff;
}



/* 1. Header Section */

header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("images/main_image.jpg");
    background-size: cover;
    background-position: center;
}



.bar{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    
    z-index: 3;
    font-size: 1.5rem;
}

.bar__elelement{
    text-decoration: none;
    color: rgb(238, 231, 231);
    padding: 0 1rem;
    font-family: var(--title-font);

    display: inline-block;
    transition: transform 0.3s ease, color 0.3s;
}
.bar__elelement:hover{
    color: var(--up-color);
    transform: translateY(-5px);
}

.intro{
    padding: 5rem;
    padding-bottom: 25rem;
    
    height: 90vh;
    flex: 0 0 auto;
    justify-content: center;
    align-content: center;
 
}

.intro__up{
    padding: 1rem 1rem 0 1rem;
    margin: 1rem 1rem 0 1rem;

    font-family: var(--text-font);
    color: var(--up-color);
    text-align: left;
    padding-left: 40px;
    position: relative;
}

.intro__up::after{
    content: "";

    width: 35px;
    height: 2px;
    background:  var(--up-color);
    position: absolute;
    left: 0;
    top: 70%;
    z-index: 1;

    border-radius: 100px;
}


.intro__middle{
    font-family: var(--title-font);
    margin-left: 1rem;
    font-size: 3.5rem;
    color: var(--title-color);
}
.intro__bottom{
    font-family: var(--text-font);

    color: rgb(221, 219, 219);
    margin: 1rem 2rem 2rem 1rem;
}
.intro__bottom span{
    color: rgb(255, 255, 255);
}

/* 2. Hero section */

.hero{
    background-color: #4C8C9C;
    display: flex;
    flex-direction: column;
}

.hero__card{
    padding: 25px 100px 25px 100px;
    margin: 25px 100px 25px 100px;
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto;
    gap: 1rem;

    position: relative;

}
.hero__card::before{
    content: "01";
    font-family: var(--title-font);
    font-size: 10rem;
    color: #ffffff39;

    position: absolute;
    left: 0;
    top: 0;
}


.hero__left__card{
    margin: 1rem;
    padding: 1rem;
}
.hero__right__card{
    margin: 1rem;
    padding: 2rem;
    
}
.right__image{
    width: 500px;
}


.hero__left__card .intro__middle{
    font-size: 2rem;
}
.intro__text{
    margin: 1rem;
    color: var(--title-color);
    font-family: var(--text-font);

}

.second__card::before{
    content: "02";
    left: 75%;

}
.hero__card.second__card{
    display: flex;
    flex-direction: row-reverse;
}
.third__card::before{
    content: "03";
}

.footer{
    background-color:  #4C8C9C;
    text-align: center;
    font-family: var(--title-font);
    color: var(--up-color);
}


@media (max-width: 1200px){
.hero__card{
    padding: 100px 0 100px 0;
    margin: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    gap: 1rem;
}
.hero__card.second__card{
    flex-direction: column;
}
.right__image{
    width:100%;
    
}
.hero__right__card{
    margin: 1rem;
    padding: 2rem;
    
}

.intro__up{
    font-size: 0.8rem;
}
.intro__middle{
    font-size: 2.5rem;
}
.intro__bottom{
    font-size: 0.8rem;
}
}
